<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/tfn7dak.css">

    <title>{{ block "title" . }}{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</title>

    {{ block "head" . }}

    {{ end }}
  </head>
  <body class="page-kind-{{ .Page.Kind }}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
      <a class="navbar-brand font-weight-bold text-museo" href="{{ .Site.BaseURL }}">AMGETU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="nav-item{{ if ($currentPage.IsMenuCurrent "main" .) }} active{{end}}">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </nav>

    {{ block "main" . }}

    {{ end }}

    {{ block "footer" . }}
      <footer class="mt-5 py-5">
        <div class="container-fluid">
          <h2 class="h5">
            <a href="{{ .Site.BaseURL }}">Aargauermeisterschaft Geräteturnen</a>
            <br/>
            18. und 19. Mai 2019
          </h2>

          <ul class="list-unstyled mt-5">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              <li class="h5 {{ if ($currentPage.IsMenuCurrent "main" .) }}font-weight-bold{{end}}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>

          <ul class="list-unstyled mt-5">
            <li><a href="http://www.aargauer-turnverband.ch/" target="_blank">Aargauer Turnverband</a></li>
            <li><a href="https://tvniederrohrdorf.ch" target="_blank">Turnende Vereine Niederrohrdorf</a></li>
          </ul>
        </div>
      </footer>
    {{ end }}

    <script src="/js/main.js"></script>
  </body>
</html>
